*.class

# Package Files #
*.jar
*.war
*.ear

*.swp
*.swo

# allow gradle-wrapper into repo
!/gradle/wrapper/gradle-wrapper.jar
# exclude .gradle working directory
.gradle

build

buildSrc/build
# static
public
.classpath
.project
.settings
.springbeans
*.iml
*.ipr
bin
src/main/resources/test-server.ldif~
creds
