@import 'bootstrap-vars';
@import 'bootstrap';
@import 'variables';

html {
  height: 100.1%;
  overflow-y: scroll;
}

body {
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
}

a {
  color: #428bca;
  text-decoration: none;
}

h1 {
  font-size: 23px;
}

h2 {
  font-size: 20px;
}

label {
  font-weight: bold;
}

input,
button {
  // border-radius: 6px;
  // font-size: 18px;
}

input[type="checkbox"] {
  margin-bottom: 8px;
  margin-top: 8px;
}

input[type="text"],
textarea {
  -webkit-appearance: textfield;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

button {
  @extend .btn;
  @extend .btn-default;

  align-items: flex-start;
  -webkit-appearance: button;
  background-color: #fff;
  background-image: none;
  border: 1px solid transparent;
  border-color: #ccc;
  border-radius: 3px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  height: 35px;
  letter-spacing: normal;
  line-height: 1.5;
  margin-bottom: 0;
  overflow: visible;
  padding: 1px 5px;
  text-align: center;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  word-spacing: normal;
}

form input,
form textarea {
  @extend .form-control;
}
