@import 'base';
@import 'states/all';
@import 'dialogs/all';
@import 'directives/all';

.spinner {
  background-image: url('/app/images/spinner.gif');
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  position: absolute;
  width: 100vh;
  z-index: 1;
}


.uninitialized {
  visibility: hidden;
}

.disabled {
  color: #bbb;
}

.ss-no-backend {
  background-color: #a52a2a;
}

.ss-backend-incomplete {
  background-color: #ffd1d1;
}

.ss-incomplete {
  background-color: #ffd;
}

.ss-ui-incomplete {
  background-color: #ffd;
}

.ss-incomplete-message {
  text-align: center;
}

.ss-facet-date-range {
  @extend .ss-ui-incomplete;
}

.ss-explore .ss-tags a {
  @extend .ss-ui-incomplete;
}

.ss-answer-form,
.ss-answer-form textarea {
  @extend .ss-ui-incomplete;
}

.has-error {
  border: 1px solid #f00;
  padding: 5px;
}

p.has-error {
  color: #f00;
  font-weight: bold;
}

.ml-edit-tools {
  width: 400px;
  padding: 5px;
  margin-top: 10px;
  background-color: #DDD;
}

.ss-divider {
  width: 205px;
  height: 1px;
  margin: 5px 0;
  background-color: black;
}

.ss-typeahead-item {
  cursor: pointer;
}

.ss-column {
  position: relative;
  float: left;
}
