@import 'base';
@import 'states/all';
@import 'dialogs/all';
@import 'directives/all';

.spinner {
  background-image: url('/app/images/spinner.gif');
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  position: absolute;
  width: 100%;
  z-index: 1;
}


.loading {
  visibility: hidden;
}

.disabled {
  color: #bbb;
}

.ss-no-backend {
  background-color: #a52a2a;
}

.ss-backend-incomplete {
  background-color: #ffd1d1;
}

.ss-incomplete {
  background-color: #ffd;
}

.ss-ui-incomplete {
  background-color: #ffd;
}

.ss-incomplete-message {
  max-width: $view-max-width;
  text-align: center;
  position: absolute;
}

.has-error {
  border: 1px solid #f00;
  padding: 5px;
}

.ss-global-error {
  font-size: 8pt;
  margin-bottom: -($navbar-height);

  pre {
    font-size: 8pt;
  }
}

p.has-error {
  color: #f00;
  font-weight: bold;
}

.ml-edit-tools {
  background-color: #ddd;
  margin-top: 10px;
  padding: 5px;
  width: 400px;
}

.ss-divider {
  background-color: #000;
  height: 1px;
  margin: 5px 0;
  width: 205px;
}

.ss-typeahead-item {
  cursor: pointer;
}

.ss-column {
  float: left;
  position: relative;
}
