<div class="container">

  <div class="row text-center">
    <h3>short words (and some not so)...</h3>

    <p><em>Speeches, addresses, messages and the like from history, with a tilt
    toward quality over quantity.</em></p>.
  </div>
</div>

<p class="pull-right">
  <button class="btn btn-primary" ng-click="newDoc()">add words</button>
</p>
<table ng-hide="!docs" class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>words (by)</th>
      <th>date given</th>
      <th class="text-right"># of words</th>
      <th class="text-right">rating</th>
      <th class="text-right">points per word</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="doc in docs">
      <td><a href="" ng-click="docClick(doc, $index)">{{doc.title}}</a></td>
      <td>{{doc.date | date:'MMMM d, yyyy'}}</td>
      <td class="text-right">{{wordCount(doc)}}</td>
      <td class="text-right">{{doc.rating}}</td>
      <td class="text-right">{{pointsPerWord(doc)}}</td>
    </tr>
  </tbody>
</table>
