.ss-markdown-wrapper {

  margin-top: 53px;

  .nav-tabs {
    float:right;
    border-bottom:none;
    position: relative;
    top: -40px;
  }

  .nav-tabs li {
    /* ensure above toolbar container */
    z-index: 1000;
  }

  .markdown-toolbar {
    position: relative;
    top: -60px;
    left: -21px;
  }

  textarea.markdown-input {
    width: 100%;
    position: relative;
    top: -32px;
    height: 100px;
  }

  textarea.markdown-input,
  .ss-markdown-editor-preview {
    min-height: 200px;
    border: 1px solid #ccc;
  }

  .markdown-controls button {
    padding:3px 8px!important;
  }

  .markdown-controls i {
    font-size:16px!important;
  }

  .markdown-controls .btn-group-wrapper {
    padding-bottom: 20px;
  }

  .markdown-controls .form-group {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }

  .markdown-controls .form-submit {
    padding-bottom: 18px;
  }

  .ss-edit-selected {
    /* for adjusting edit markdown container size */
  }

  .ss-preview-selected {
    /* for adjusting preview markdown container size */
  }

}
