.ss-account-dropdown ul {
  @extend .pull-right;
  line-height: 25px;
}

.ss-account-dropdown li {
  padding-left: 10px;
  padding-right: 10px;
  width: 300px;
}

.ss-account-dropdown button {
  @extend .pull-right;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-top: 5px;
}
