.ss-filters-tags {

  header {
    display: inline-block;
    width: 100%;
  }

  h3 {
    float: left;
    position: relative;
  }
}

.ss-clear-tags {
  cursor: pointer;
  float: right;
  margin: 21px 30px 0 0;
  position: relative;
}


.ss-facet-tags {

  input.ss-typeahead-input {
    clear: all;
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    width: 202px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.ss-open-all-tags {
  cursor: pointer;
  margin-top: 3px;
}
