.ss-search-bar {
  max-width: $view-max-width;
  min-width: $view-min-width;
  padding-top: 20px;

  form {
    border-collapse: collapse;
    display: table;
    height: 64px;
    margin-left: 20px;
    width: 100%;

    > * {
      display: table-cell;
      vertical-align: top;
    }

    input {
      display: block;
      height: 45px;
    }
  }
}

.ss-search-bar-tools {
  height: 45px;
  margin: 0;
  padding: 0;
  width: 250px;

  button {
    height: 45px;
    margin-left: 30px;
    width: 90px;
  }

  .ss-search-tips {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
  }

  .ss-search-tips-icon {
    position: relative;
    top: -0.1em;
    font-size: 80%;
  }
}

.ss-search-tips-panel {
  width: 100%;
  height: 142px;
  background-color: #f9f9f9;
  padding: 10px;

  dl, dt, dd {
    position: relative;
    float: left;
    font-size: 0.98em;
  }

  dl {
    width: 32%;
  }

  dl:last-of-type {
    width: 36%;
  }

  dt {
    width: 27%;
    margin-bottom: 6px;
    color: #999;
    font-weight: normal;
    clear: both;
  }

  dd {
    width: 73%;
    margin-bottom: 6px;
  }
}

