ss-qna-doc-metadata {

  .ss-question-metadata {
    margin-top: 0;
    margin-bottom: 0;
    padding:0;
  }

  .ss-question-tags {
    width: 60%;
    float:left;
  }

  .ss-question-tags span.label-default {
    background-color: #777;
  }

  .ss-question-info {
    float: right;
    /* width: 35%; */
    padding:4px;
    margin: 0;
  }

  .ss-question-info .glyphicon-new-window {
    color:#428bca;
  }

  .ss-question-info .glyphicon-new-window:hover {
    color:#2a6496;
  }

  .ss-question-info .glyphicon-new-window:visited {
    color:#428bca;
  }

  .ss-question-info span {
    line-height:11px!important;
    font-size:11px;
    text-align:right;
    padding:0;
    margin: 0;
    color: #666;
  }

}
