.ss-results {
  margin-left: 20px;
  max-width: 1100;
  padding-left: 0;
  position: relative;

  header {
    display: inline-block;
    height: 62px;
    width: 100%;
  }

  h2 {
    float: left;
    margin: 0;
    padding-top: 13px;
    position: relative;
    vertical-align: middle;
  }

  ul.ss-sort {
    float: right;
    margin-top: 20px;
    position: relative;
  }

  li {
    cursor: pointer;
    margin-left: 10px;
  }

  li.ss-sort-active {
    font-weight: bold;
  }

  .ss-paging {
    margin-right: 20px;
    overflow: hidden;
    padding-top: 13px;
    position: absolute;
    right: 0;
    vertical-align: middle;

    button {
      width: 35px;
    }

    span {
      vertical-align: middle;
    }
  }
}

.ss-search-results-footer {
  height: 62px;
  position: relative;
}

.ss-result {
  border-bottom: solid 1px #000;
  padding: 10px;
  padding-left: 80px;

  .ss-votes {
    background-color: #eee;
    border: solid 1px #ccc;
    height: 84px;
    left: 0;
    position: absolute;
    width: 70px;

    .ss-score,
    .ss-answers {
      padding: 0;

      label,
      span,
      .ss-divider {
        display: block;
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 20;
      }
    }

    .ss-score label {
      top: -2px;
    }

    .ss-score span {
      font-size: 18px;
      top: 14px;
    }

    .ss-answers label {
      top: 62px;
    }

    .ss-answers span {
      font-size: 18px;
      top: 43px;
    }

    .ss-divider {
      background-color: #000;
      height: 1px;
      margin: 0 4px;
      position: absolute;
      top: 40px;
      width: 60px;
    }

    .ss-checked {
      background-image: url('/app/images/checkmark.png');
      height: 40px;
      left: 12px;
      position: absolute;
      top: 41px;
      width: 50px;
      z-index: 10;
    }

  }

  .ss-highlight {
    font-weight: bold;
  }

  .ss-prefix {
    color: #428bca;
  }

  p {
    min-height: 25px;
  }
}

.ss-result-title {
  font-size: larger;
}

.ss-search-result .ss-metadata {
  border-bottom: 0 solid #000;
}
