<div class="list-group-section">

  <!-- tags search -->
  <div class="tags-module-search-wrapper">
    <div class="tags-module-search clearfix">
      <div class="tags-module-clear-icon hide" >
        <i class="glyphicon glyphicon-remove"></i>
      </div>
      <div class="tags-module-search-icon">
        <i class="glyphicon glyphicon-search"></i>
      </div>
      <div class="tags-module-search-input">
        <input
          type="search"
          class="form-control input-sm"
          placeholder="Search Tags"
          autocomplete="off"
          ng-model="selected"
          typeahead="
            tag.count as tag.name+' ('+tag.count+')'
            for tag in toArray(unselTags).concat(toArray(selTags)) | filter:$viewValue | orderBy:sort
          "
          typeahead-on-select="
            selectTagTypeahead($item, $model, $label)
          "
        />
      </div>
    </div>
  </div> <!-- tags-module-search-wrapper -->

  <!-- selected tags -->
  <div class="selected-tags" >
    <div
      class="checkbox"
      ng-repeat="tag in toArray(selTags) | orderBy:sort"
    >
      <label>
        <input
          type="checkbox"
          checked="true"
          ng-click="unselectTag(tag)"
        />
        {{ tag.name }}
        <span class="text-muted">({{ tag.count }})</span>
      </label>
    </div>
  </div>

  <!-- unselected tags -->
  <div class="unselected-tags" >
    <div
      class="checkbox"
      ng-repeat="tag in toArray(unselTags) |
                 orderBy:sort |
                 limitTo:tagLimit"
    >
      <label>
        <input
          type="checkbox"
          ng-click="selectTag(tag)"
          ng-disabled="!tag.count"
        />
        {{ tag.name }}
        <span class="text-muted">({{ tag.count }})</span>
      </label>
    </div>
  </div>

  <!-- more tags button -->
  <button class="button-more-tags btn btn-default btn-block btn-sm" data-toggle="modal" data-target="#tagsModal" >More Tags</button>

</div>
