<!-- for questions, answers -->
<div class="ss-question-metadata clearfix" ng-if="docType != 'comment'">

  <!-- date+user+reputation -->
  <div class="ss-question-info">
    <span class="started">
      <span ng-if="docType == 'question'">Asked</span>
      <span ng-if="docType == 'answer'">Answered</span>
      {{ formatDate(doc.creationDate) }}
      <!-- display human readable time since if within a week -->
      <span ng-if="daysSince(doc.creationDate) < 7">
        ({{ formatDateRelative(doc.creationDate) }})
      </span>
      by
      <span ng-if="!doc.owner || doc.owner.id == 'unknown'" class="ss-author">
        unknown
      </span>

      <span ng-if="doc.owner && doc.owner.id != 'unknown'" class="ss-author">
        <a
          ng-if="doc.owner.originalId === undefined"
          href=""
          ng-click="showContributor()"
        >{{doc.owner.displayName}}</a>
        <a
          ng-if="!(doc.owner.originalId === undefined)"
          href="{{soUserLink()}}"
          target="_blank"
        >{{doc.owner.displayName}}&nbsp;&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>
        &nbsp;
        <span ng-if="doc.owner.reputation !== undefined">[<span class="ss-reputation">{{doc.owner.reputation}}</span>]</span>
      </span>
    </span>
  </div>

  <!-- question tags -->
  <div class="ss-question-tags">
      <a href="" ng-click="goTag(tag)" ng-repeat="tag in doc.tags">
        <span class="label label-default">{{tag}}</span>
      </a>
    </span>
  </div>

</div> <!-- ss-question-metadata -->

<!-- for comments -->
<span class="ss-question-metadata" ng-if="docType == 'comment'">

  <!-- user+date -->
  <span class="ss-comment-info started">
    &mdash;
    <span ng-if="!doc.owner || doc.owner.id == 'unknown'" class="ss-author">
      author unknown
    </span>
    <span ng-if="doc.owner && doc.owner.id != 'unknown'" class="ss-author">
      <a
        ng-if="doc.owner.originalId === undefined"
        href=""
        ng-click="showContributor()"
      >{{doc.owner.displayName}}</a>
      <a
        ng-if="!(doc.owner.originalId === undefined)"
        href="{{soUserLink()}}"
        target="_blank"
      >{{doc.owner.displayName}}&nbsp;&nbsp;<span class="glyphicon glyphicon-new-window"></span>&nbsp;</a>
    </span>
    {{ formatDate(doc.creationDate) }}
    <!-- display human readable time since if within a week -->
    <span ng-if="daysSince(doc.creationDate) < 7">
      ({{ formatDateRelative(doc.creationDate) }})
    </span>
  </span>

</span> <!-- ss-question-metadata -->
