


/*** ASK VIEW ***/
.ss-ask {
  padding-left: 65px;
  padding-right: 65px;
  min-width: $view-min-width;
  max-width: $view-min-width;
  form {
    @extend .form-horizontal;
    @extend .form-inline;
    > * {
      display: block;
      margin-bottom: 10px;
    }
    > *:last-child {
      margin-bottom: 0;
    }
    input {
      width: 500px;
    }
    .ss-markdown-editor {
      li {
        cursor: pointer;
      }
      img {
        margin:0 3px;
        cursor: pointer;
      }
      button {
        margin:0 6px;
        border:0px;
        &:hover {
          background-color: transparent;
        }
      }
      textarea {
        height:174px;
      }
      .divider {
        margin:0 6px;
        color:#D3D3D3;
      }
      .tab-content {
        height: 250px;
        padding:10px 16px;
        border:1px solid #ddd;
        border-top:0;
        border-radius: 0 0 4px 4px;
      }
    }
  }
}
