.ss-ask {

  margin-top: 20px;

  .ss-ask-wrapper {
    padding-top:50px;
    padding-bottom:20px;
  }

  .ss-ask-wrapper h1 {
    font-size: 36px;
    margin-bottom:20px;
    margin-top:10px;
  }

  .ss-ask-wrapper .ss-title-wrapper input {
    margin-bottom:20px;
  }

  .ss-ask-wrapper .btn-group-wrapper {
    float:left;
    padding-bottom:0;
  }

  .ss-ask-wrapper input.tags,
  .ss-ask-wrapper input.tags,
  .ss-ask-wrapper input.tags:active  {
    border-color: none!important;
    outline: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
  }

  .title-module-input-wrapper {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 0
  }

  .title-module-input-clear {
    float:right;
    width: 4%;
    text-align: right;
    padding: 14px 14px 0px 14px;
    color:#ccc;
  }

  .title-module-input {
    float:left;
    width: 96%;
    border: 1px none red;
  }

  .title-module-input input {
    border:none;
    box-shadow: inset 0 0px 0px, 0 0 0px;
    margin:0!important;
  }

  /* TODO get tags-input looking like other elements */

  /* .ss-ask-wrapper .tag-field {
    height: 46px;
    padding: 10px 16px;
    font-size: 46px;
    line-height: 1.33;
    border-radius: 6px;
    border:1px solid #ddd;
    cursor: text;
  } */

  .ss-ask-wrapper .tag-field {
    /* border-color: #66afe9; */
    /* outline: 0; */
  }


  /* .ss-ask-wrapper .tag-field:active,
  .ss-ask-wrapper .tag-field.active {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
  }

  .ss-ask-wrapper .tag-field  ul {
    margin:0;
    padding:0;
    list-style: none;
  }

  .ss-ask-wrapper .tag-field  ul li {
   float: left;
   font-size: 16px;
   padding-right:6px;
  }

  .ss-ask-wrapper .tag-field  ul li input {
    border:none;
  }

  tags-input .tags {
    height: 46px;
    padding: 10px 16px;
    font-size: 46px;
    line-height: 1.33;
    border-radius: 6px;
    border: 1px solid #ddd;
    cursor: text;
  } */

}
