//** EXPLORE VIEW ***

.ss-explore {
  margin-top: 20px;
  min-height: 555px;
}

.ss-filters {

  .list-group .list-group-section {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }

  .list-group .list-group-header,
  .list-group .list-group-subheader {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
  }

  .list-group .list-group-header {
    background: #f2f2f2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 1px solid #ddd;
  }

  .list-group .list-group-header button,
  .list-group .list-group-subheader button {
    margin-top: -2px;
  }

  .list-group .list-group-section {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px 15px;
  }

  .list-group .list-group-item h4,
  .list-group .list-group-header h4,
  .list-group .list-group-subheader h4 {
    margin-top: 1px;
    margin-bottom: 2px;
    font-size:14px;
  }

  .list-group .list-group-subheader h4 {
    margin-bottom: 0px;
  }

  .list-group div.checkbox {
    margin-top: 0;
  }

  .list-group .checkbox label {
    font-size: 85%;
  }

  .list-group label.disabled {
    color: #bababa;
  }

  .list-group .checkbox input {
    margin-top:1px;
  }

  .list-group .checkbox:last-child {
    margin-bottom: 0;
  }

  .list-group div.list-group-section:last-child {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .input-daterange {
    margin-bottom: 10px;
  }

  .button-more-tags {
    margin-bottom: 10px;
  }

  .ss-disabled {
    color: #BABABA;
  }

}
