@import "bootstrap-vars";
@import "./marklogic/marklogic";
@import "spinner";

.body {
}

.navbar-brand a {
  color: $navbar-default-brand-color;
  &:hover,
  &:focus {
    color: $navbar-default-brand-hover-color;
    background-color: $navbar-default-brand-hover-bg;
  }
}

.header-placeholder {
  height: $navbar-height;
}

.navbar {
  margin-bottom: 0px;
}

footer.navbar {
  min-height: $line-height-computed;
}

table {
  max-width: 1000px;
}
