@import "bootstrap-vars";
@import "marklogic/marklogic";
@import "spinner";

/* Application specific styles */

.body {
}

.navbar-brand a {
  color: $brand-primary;
}

.header-placeholder {
  height: $navbar-height;
}

.navbar {
  margin-bottom: 0px;
}

footer.navbar {
  min-height: $line-height-computed;
}

table {
  max-width: 1000px;
  margin: auto;
}

tbody {
  font-size: $font-size-small;
}

.modal-body-occupy {
  max-height: 95%;
}
