<header>
  <h2 ng-if="search.results.total > 0"
    ng-bind-template="Browsing {{search.results.total | number:0}} Questions"
  >
  </h2>
  <h2 ng-if="search.results.total == 0">
    No Results
  </h2>
  <ul class="ss-sort">
    <li
      ng-repeat="sort in sorts"
      ng-click="setSort(sort.value)"
      ng-class="{ 'ss-sort-active': search.criteria.sort[0] == sort.value }"
      ng-bind-template="{{sort.label}}"
    >
    </li>
  </ul>
</header>
<section class="ss-result" ng-repeat="item in search.results.items">
  <ss-search-result></ss-search-result>
</section>
<div class="ss-search-results-footer">
  <div ng-if="search.results.total > 0" class="ss-paging">
    <button
      type="button"
      ng-disabled="!search.hasPrevPage()"
      ng-click="search.incrementPage(-1)"
    >&lt;</button>
    <span
      ng-bind-template="{{search.getCurrentPage() }} / {{search.getPageCount() }}"
    >
    </span>
    <button
      type="button"
      ng-disabled="!search.hasNextPage()"
      ng-click="search.incrementPage(1)"
    >&gt;</button>
  </div>
</div>
