<form>
  <input type="text" ng-model="searchbarText"/>
  <div class="ss-search-bar-tools">
    <button class="ss-search-submit" ng-click="setQueryText()">Search</button>
    <div class="ss-search-tips" ng-click="showTips=!showTips">Search Tips
      <span class="ss-search-tips-icon" ng-show="!showTips">&#9660;</span>
      <span class="ss-search-tips-icon" ng-show="showTips">&#9650;</span>
    </div>
  </div>
</form>

<div class="ss-search-tips-panel" ng-show="showTips">
  <dl>
    <dt>tags</dt>
      <dd>tag:tag1<br />tag:tag1 OR tag:tag2</dd>
    <dt>strings</dt>
      <dd>aString<br />string1 AND string2<br />"a specific phrase"</dd>
    <dt>wildcard string</dt>
      <dd>aString*</dd>
  </dl>
  <dl>
    <dt>user name</dt>
      <dd>user:joeUser&nbsp;&nbsp;&nbsp;[for any submission]<br />askedBy:joeUser<br />answeredBy:joeUser<br />commentedBy:joeUser</dd>
    <dt>votes</dt>
      <dd>votes:0<br />votes GT 100&nbsp;&nbsp;&nbsp;[more than 100 votes]</dd>
  </dl>
  <dl>
    <dt>question status</dt>
      <dd>answers LE 2&nbsp;&nbsp;&nbsp;[2 or fewer answers]</dd>
    <dt>operators</dt>
      <dd>query1 AND query2&nbsp;&nbsp;&nbsp;[implicit for adjacent terms]<br />query1 OR query2<br />-query&nbsp;&nbsp;&nbsp;[negation]<br />(query1 OR query2) AND query3&nbsp;&nbsp;&nbsp;[grouping]</dd>
  </dl>
</div>
