<div ng-if="globalError.length" marked="globalError" class="ss-global-error has-error"></div>
<div>

  <div ng-if="loading" class="spinner">
  </div>

  <header class="ss-page-header navbar-fixed-top">

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">

          <!-- bootstrap responsive navigation -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".ss-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- samplestack logo -->
          <a class="ss-app-title navbar-brand" href="/">
            <img src="app/images/samplestack.svg"
              border="0"
              tooltip-placement="bottom"
              tooltip="Return to home page" >
          </a>

        </div>
        <div class="ss-navbar-collapse collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">

            <!-- login/account dropdown -->
            <li class="ss-login" ng-if="!store.session">
              <button
                class="ss-login-dialog-open btn btn-primary btn-sm"
                href=""
                ng-click="openLogin()"
              >Log In
              </button>
            </li>

            <li
              ss-account-dropdown
              dropdown
              ng-if="store.session"
              class="ss-account-dropdown dropdown"
            ></li>

            <!-- ask button -->
            <li
              class="ss-ask-button"
              ng-class="store.session ? 'active' : 'inactive'"
              tooltip-placement="bottom"
              tooltip="{{store.session ? '': 'You must be logged in to ask a question' }}"
            >
              <a
                href=""
                class="navbar-ask-question"
                ng-click="store.session ? ask() : ''"
                ng-class="store.session ? 'active' : 'inactive'"
              >
                <span class="glyphicon glyphicon-question-sign"></span>
                Ask A Question
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </nav>

</header>

  <div ng-class="{ loading: loading }">
    <div ng-if="localError" class="has-error">{{localError}}</div>
    <section class="ss-main">
      <div ui-view></div>
    </section>

    <footer class="ss-page-footer">
      <p class="text-center">
        Samplestack 1.0.0&nbsp;&nbsp;|&nbsp;&nbsp;Copyright &copy; 2015 <a href="http://www.marklogic.com">MarkLogic Corporation</a>, licensed under the Apache License, <a href="http://www.apache.org/licenses/LICENSE-2.0" >Version 2.0</a>&nbsp;&nbsp;|&nbsp;&nbsp;Seed data from <a href="http://stackoverflow.com">Stack Overflow</a> under <a href="http://creativecommons.org/licenses/by-sa/3.0">cc-by-sa</a>
      </p>
    </footer>
  </div>

</div>
