<div class="ss-dialog-all-tags">

  <div class="modal-header">

    <!-- dialog cancel -->
    <button
      type="button"
      class="close"
      ng-click="cancel()"
    >
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>

    <h4 class="modal-title">All Available Tags</h4>

  </div><!-- modal-header -->

  <div class="modal-browser clearfix">

    <div class="tags-modal-search-wrapper clearfix">
      <div class="tags-modal-search clearfix">
        <!-- clear search button -->
        <div
          class="tags-modal-clear-icon"
          ng-show="selected"
        >
          <i
            class="glyphicon glyphicon-remove"
            ng-click="selected = null"
          ></i>
        </div>
        <div class="tags-modal-search-icon">
          <i class="glyphicon glyphicon-search"></i>
        </div>
        <!-- search input field -->
        <div class="tags-modal-search-input">
          <input
            type="search"
            id="tags-modal-search"
            class="form-control input-sm"
            ng-model="selected"
            placeholder="Search Tags"
            title="Search for an available tag"
            autocomplete="off"
            typeahead="
                tag.count as tag.name+' ('+tag.count+')'
                for tag in typeaheadSearch($viewValue) |
                filter: $viewValue |
                orderBy: selectedSort.value
            "
            typeahead-loading="typeaheadPromise"
            typeahead-on-select="selectTagTypeahead($item, $model, $label)"
          />
        </div>
      </div>
    </div><!-- tags-modal-search-wrapper -->

    <!-- sort tabs -->
    <ul class="ss-sort nav nav-tabs" role="tablist">
      <li
        ng-repeat="sort in sorts"
        ng-click="setSort()"
        ng-class="{
          'active': sort === selectedSort
        }"
        title="{{sort.title}}"
      >
        <a href="" role="tab">{{sort.label}}</a>
      </li>
    </ul><!-- nav-tabs -->

  </div><!-- modal-browser -->

  <div class="modal-body clearfix">

    <!-- tag display columns -->
    <div class="ss-column" ng-repeat="page in pagedTagsByColumn">
      <ul>
        <li
          class="checkbox"
          ng-repeat="tag in page"
        >
          <label title="Constrain results to selected tag">
            <input
              type="checkbox"
              ng-checked="selTags.indexOf(tag.name) > -1"
              ng-click="onTagClick(tag.name)"
            />
            {{tag.name}}
            <span class="text-muted">({{tag.count}})</span>
          </label>
        </li>
      </ul>
    </div><!-- ss-column -->

  </div><!-- modal-body -->

  <div class="modal-footer">

    <!-- dialog submit -->
    <div class="ss-submit">
      <button
        type="button"
        class="btn btn-primary"
        ng-click="submit()"
      >OK</button>
    </div>

    <!-- paging -->
    <pagination
      total-items="tagsCount"
      items-per-page="pageSize"
      ng-model="currentPage"
      ng-change="updatePage(currentPage)"
      max-size="maxSize"
      boundary-links="true"
      rotate="false"
    ></pagination>

  </div><!-- modal-footer -->

</div><!--ss-dialog-all-tags -->
