<!-- @todo move Bootstrap form classes (.form-inline, .form-control etc.)
into sass without losing styles -->
<section class="ss-ask">
  <header>
    <h2>Ask a Question</h2>
  </header>
  <p
    class="has-error"
    ng-if="error"
  >
    {{localError}}
  </p>
  <form class="form-inline">
    <div class="ss-ask-title">
      <label>Title</label>
      <input type="text" ng-model="qnaDoc.title" class="form-control ss-ask-title-input" />
    </div>
    <div ss-markdown-editor content="qnaDoc.text"></div>
    <div class="ss-ask-tags ss-incomplete">
      <label>Tags</label>
      <tags-input ng-model="tagsInput"></tags-input> (tags input in progress)
    </div>
    <button
      ng-disabled="qnaDoc.$ml.invalid"
      ng-click="save()"
    >
      Post Your Question
    </button>
  </form>
</section>
