<section class="ss-search-bar">
  <ss-search-bar></ss-search-bar>
</section>

<section class="ss-explore">

  <div class="ss-filters-results">

    <section class="ss-filters" ng-hide="!search.results">
      <header>
        <h2>Filter Results</h2>
      </header>

    <div
      class="ss-filters-my-entries"
      ng-class="{ disabled: !store.session }"
    >
      <input
        type="checkbox"
        ng-model="showMineOnly"
        ng-change="setUserName()"
        ng-disabled="!store.session"
      />
      Show my entries only
    </div>
    <div
      class="ss-filters-resolved disabled ss-no-backend"
    >
      <input
        ng-bind="search.criteria.constraints.resolvedOnly.value"
        type="checkbox"
        disabled
      />
      Show resolved only
    </div>
    <section class="ss-filters-date">
      <header>
        <h3>Date</h3>
        <a href="" class="ss-clear-date" ng-click="dateScope.clearSelection()">Clear</a>
      </header>
      <div ss-facet-date-range
        search="search"
      ></div>
    </section>
    <section class="ss-filters-tags">
      <header>
        <h3>Tags</h3>
        <a href="" class="ss-clear-tags" ng-click="clearTagsConstraint()">Clear</a>
      </header>
      <ss-facet-tags
        criteria="search.criteria.constraints.tags"
        results="search.results.facets.tags"
        totals="{ total: search.results.total, shadow: search.results.shadowTotals.tags }"
        num-tags="8"
      ></ss-facet-tags>
      <div class="ss-open-all-tags" ng-click="openAllTags()">more...</div>
    </section>
  </section>

  <section class="ss-results">
    <ss-search-results search="search"></ss-search-results>
  </section>
</section>
