<section class="ss-search-bar">
  <ss-search-bar></ss-search-bar>
</section>

<section class="ss-qnadoc">

  <header class="ss-question-title">
    <h3>Q: {{ doc.title }}</h3>
    <div class="ss-so-link">
      <a href="http://stackoverflow.com{{doc.id}}" target="_blank">
        [stackoverflow link]
      </a>
    </div>
  </header>

  <section class="ss-question">
    <div class="ss-vote">
      <div
        ng-if="canVoteQuestion()"
        class="ss-up ss-up-enabled"
        ng-click="vote(1)"
      ></div>
      <div
        ng-if="!canVoteQuestion()"
        class="ss-up ss-up-disabled"
      ></div>
      <span class="ss-vote-count">{{doc.itemTally}}</span>
      <div
        ng-if="canVoteQuestion()"
        class="ss-down ss-down-enabled"
        ng-click="vote(1)"
      ></div>
      <div
        ng-if="!canVoteQuestion()"
        class="ss-down ss-down-disabled"
      ></div>
    </div>
    <div class="ss-qnadoc-content">
      <div ss-markdown="doc.body"></div>
      <ss-qna-doc-metadata doc="doc" doc-type="question"></ss-qna-doc-metadata>
      <div class="ss-comments">
        <div ng-repeat="comment in doc.comments">
          <div class="ss-comment">
            {{comment.text}}
            <ss-qna-doc-metadata doc="comment" doc-type="comment"></ss-qna-doc-metadata>
          </div>
        </div>
        <span class="ss-add-comment ss-ui-todo">add comment</div>
      </div>
    </div>
  </section>

  <section class="ss-answers">

    <header class="ss-answers-header">
      <h3>{{answersCountLabel()}}</h3>
    </header>

    <div ng-repeat="answer in doc.answers">
      <section class="ss-answer-section">
        <div class="ss-vote">
          <div
            ng-if="canVoteAnswer(answer)"
            class="ss-up ss-up-enabled"
            ng-click="vote(1)"
          ></div>
          <div
            ng-if="!canVoteAnswer(answer)"
            class="ss-up ss-up-disabled"
          ></div>
          <span class="ss-vote-count">{{ answer.itemTally }}</span>
          <div
            ng-if="canVoteAnswer(answer)"
            class="ss-down ss-down-enabled"
            ng-click="vote(1)"
          ></div>
          <div
            ng-if="!canVoteAnswer(answer)"
            class="ss-down ss-down-disabled"
          ></div>
          <div class="ss-checked" ng-if="answer.id == doc.acceptedAnswerId">&nbsp;</div>
        </div>
        <div class="ss-answer ss-qnadoc-content">
          <div ss-markdown="answer.body"></div>
          <ss-qna-doc-metadata doc="answer" doc-type="answer"></ss-qna-doc-metadata>
          <div class="ss-comments">
            <div ng-repeat="comment in answer.comments">
              <div class="ss-comment">
                {{comment.text}}
                <ss-qna-doc-metadata doc="comment" doc-type="comment"></ss-qna-doc-metadata>
              </div>
            </div>
            <span class="ss-add-comment ss-ui-todo">add comment</div>
          </div>
        </div>
        <br/>
        <br/>
      </section>
    </div>

    <section class="ss-answer-form">
      <header>
        <h3>Your Answer</h3>
      </header>
      <form>
        <div class="ml-edit-tools">Editing Tools</div>
        <textarea></textarea>
        <button disabled class="ss-ui-incomplete">Post Your Answer</button>
      </form>
    </section>

  </section>
</section>
