<configuration>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="stdout"/>
  </root>

 <logger name="org.apache.directory" level="ERROR"/>
 <logger name="com.marklogic.client" level="INFO"/>
 <logger name="com.marklogic.samplestack" level="DEBUG"/>


</configuration>
