<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>unit-runner -- samplestack-angular</title>
    <link rel="stylesheet" href="deps/mocha/mocha.css">
  </head>
  <body>
    <div id="mocha"></div>
    <script src="deps/mocha/mocha.js"></script>
    <script src="deps/chai/chai.js"></script>
    <script>
      chai.config.includeStack = true;
    </script>
    <script
      src="deps/chai-as-promised/lib/chai-as-promised.js"
    ></script>
    <script src="deps/sinon-chai/lib/sinon-chai.js"></script>
    <script src="deps/sinon-browser-only/sinon.js"></script>

    <script>
      window.global = window;
    </script>

    <script>
      mocha.setup('bdd');
      var should = chai.should();
      window.global.should = should;
    </script>
    <script src="deps/modernizr/modernizr.js"></script>
    <script src="deps/es5-shim/es5-shim.js"></script>

    <script src="deps/lodash/dist/lodash.compat.js"></script>
    <script src="deps/angular/angular.js"></script>
    <script src="deps/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="deps/angular-ui-router.stateHelper/statehelper.js"></script>
    <script src="deps/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="deps/spin.js/spin.js"></script>
    <script src="deps/momentjs/moment.js"></script>
    <script src="deps/marked/lib/marked.js"></script>
    <script src="deps/angular-marked/angular-marked.js"></script>
    <script src="deps/ng-prettyjson/src/ng-prettyjson.js"></script>
    <script src="deps/codemirror/lib/codemirror.js"></script>
    <script src="http://codemirror.net/mode/javascript/javascript.js"></script>
    <script src="deps/angular-ui-codemirror/ui-codemirror.js"></script>

<% if (unit) { %>
    <script src="deps/angular-mocks/angular-mocks.js"></script>
<% } %>

    <script src="init.js"></script>

<% _.forEach(mlComponents, function(component) { %>
    <script src="<%- component %>"></script>
<% }); %>

    <script src="app.js"></script>

<% _.forEach(appComponents, function(component) { %>
    <script src="<%- component %>"></script>
<% }); %>

<% _.forEach(unitComponents, function(component) { %>
    <script src="<%- component %>"></script>
<% }); %>

    <script>
      var myMocha = window.mochaPhantomJS ? window.mochaPhantomJS : mocha;
      myMocha.run();
    </script>

  </body>
</html>
