<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>unit-runner -- samplestack-angular</title>
    <link rel="stylesheet" href="deps/mocha/mocha.css">
  </head>
  <body>
    <div id="mocha"></div>
    <script src="deps/mocha/mocha.js"></script>
    <script src="deps/chai/chai.js"></script>
    <script>
      chai.config.includeStack = true;
    </script>
    <script
      src="deps/chai-as-promised/lib/chai-as-promised.js"
    ></script>
    <script src="deps/sinon-chai/lib/sinon-chai.js"></script>
    <script src="deps/sinon-browser-only/sinon.js"></script>

    <script>
      mocha.setup('bdd');
      var should = chai.should();
    </script>
    <script src="deps/modernizr/modernizr.js"></script>
    <script src="deps/es5-shim/es5-shim.js"></script>

      <script>
        // window.myApp = {};
        // window.global = window.myApp;
        window.global = window;
      </script>

<!-- inject:bower-main:js -->
    <!--
    deps should be in order
    note not including test deps
    note not including build-time deps
    (everythinng should technically be dev deps so that's not relevant)
    TODO: how to resolve these from bower to cdnjs
      'lodash': 'bower_components/lodash/dist/lodash.compat',
      'angular': 'bower_components/angular/angular',
      'angular-mocks': 'bower_components/angular-mocks/angular-mocks',
      'ui-router': 'bower_components/angular-ui-router/release/angular-ui-router',
      'state-helper': 'bower_components/angular-ui-router.stateHelper/statehelper',
      'ui-bootstrap': 'bower_components/angular-bootstrap/ui-bootstrap-tpls',
      'spinner': 'bower_components/angular-spinner/angular-spinner',
      'spinjs': 'bower_components/spin.js/spin',
      'angular-dialogs': 'bower_components/angular-dialog-service/dialogs',
      'angular-sanitize': 'bower_components/angular-sanitize/angular-sanitize',
      'moment': 'bower_components/momentjs/moment',
      'ng-table': 'bower_components/ng-table/ng-table',
      'angular-marked': 'bower_components/angular-marked/angular-marked',
      'marked': 'bower_components/marked/lib/marked',
      'angular-translate': 'bower_components/angular-translate/angular-translate'
    -->
      <script src="deps/lodash/dist/lodash.compat.js"></script>
      <script src="deps/angular/angular.js"></script>
      <script src="deps/angular-ui-router/release/angular-ui-router.js"></script>
      <script src="deps/angular-ui-router.stateHelper/statehelper.js"></script>
      <script src="deps/angular-bootstrap/ui-bootstrap-tpls.js"></script>
      <script src="deps/spin.js/spin.js"></script>
      <script src="deps/momentjs/moment.js"></script>
      <script src="deps/marked/lib/marked.js"></script>
      <script src="deps/angular-marked/angular-marked.js"></script>

      <script>
        window._ = global._;
      </script>


<% if (unit) { %>
      <script src="deps/angular-mocks/angular-mocks.js"></script>
<% } %>
<!-- endinject -->


      <script src="init.js"></script>
<!-- inject:main:js -->

<% _.forEach(mlComponents, function(component) { %>
        <script src="<%- component %>"></script>
<% }); %>

      <script src="app.js"></script>

<% _.forEach(appComponents, function(component) { %>
        <script src="<%- component %>"></script>
<% }); %>

<% _.forEach(unitComponents, function(component) { %>
        <script src="<%- component %>"></script>
<% }); %>

      <script>
        var myMocha = window.mochaPhantomJS ? window.mochaPhantomJS : mocha;
        // mocha.setup('bdd');
        myMocha.run();
      </script>

  </body>
</html>
