<!doctype html>
<html lang="en" ng-app="app" lass="nojs">

  <head>

    <!--
    a message will be delivered that this application requires a script
    endabled browser or other script-enabled assistive technology
    -->
    <noscript><%= noscriptHtml %></noscript>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>samplestack - MarkLogic</title>

    <link rel="stylesheet" type="text/css" href="/styles/samplestack.css">

    <!--
    global will be used to load individual objects from self-executing functions
    -->
    <script>
      window.global = window;
    </script>

    <!--
    honest effort to maintain consistency across less-than perfect
    browsers
    -->
    <script src="deps/modernizr/modernizr.js"></script>
    <script src="deps/es5-shim/es5-shim.js"></script>


    <!-- the rest of the app is loaded last for speed of initial view -->
  </head>

  <body>

    <!--
    CSS will cause this animated overlay to fade out when the application
    has been bootstrapped. TODO: replace this with a better/branded spinner
    -->
    <div class="initspin">
      <div id="initspinContainer">
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <h1>Loading...</h1>
      </div>
    </div>

    <!--
    This is the real body of the app.  It is initially hidden until it is
    bootstrapped.  ng-cloak allows it to be invisible until template code
    has been compiled by Angular.
    -->
    <div class="body ng-cloak" ng-cloak>

      <!--
      This is the main ui-view, corresponding to the _root state in the
      ui-router hierarchy.
      -->
      <ui-view/>

    </div>


</body>

<!--
delay the browser seeing this until it's already seen the body so that
it will render the spinner with minimal interference
-->

  <script src="deps/lodash/dist/lodash.compat.js"></script>
  <script src="deps/angular/angular.js"></script>
  <script src="deps/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="deps/angular-ui-router.stateHelper/statehelper.js"></script>
  <script src="deps/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="deps/spin.js/spin.js"></script>
  <script src="deps/momentjs/moment.js"></script>
  <script src="deps/marked/lib/marked.js"></script>
  <script src="deps/angular-marked/angular-marked.js"></script>


<% if (unit) { %>
  <script src="deps/angular-mocks/angular-mocks.js"></script>
<% } %>

  <script src="init.js"></script>

<% _.forEach(mlComponents, function(component) { %>
  <script src="<%- component %>"></script>
<% }); %>

  <script src="app.js"></script>

<% _.forEach(appComponents, function(component) { %>
  <script src="<%- component %>"></script>
<% }); %>


<% if (!unit) { %>
  <script src="run.js"></script>
<% } %>

</html>
