<!doctype html>
<html lang="en" ng-app="app" lass="nojs">

  <head>

    <!--
    a message will be delivered that this application requires a script
    endabled browser or other script-enabled assistive technology
    -->
    <noscript><%= noscriptHtml %></noscript>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>samplestack - MarkLogic</title>

    <!-- inject:bower-css:css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/deps/ng-table/ng-table.css"
    >
    <link
      rel="stylesheet"
      type="text/css"
      href="/deps/angular-dialog-service/dialogs.css"
    >
    <!-- endinject -->

    <link rel="stylesheet" type="text/css" href="/styles/samplestack.css">

    <!--
    honest effort to maintain consistency across less-than perfect
    browsers
    -->
    <!-- inject:bower-initial:js -->
    <script src="deps/modernizr/modernizr.js"></script>
    <script src="deps/es5-shim/es5-shim.js"></script>
    <!-- endinject -->

    <!-- the rest of the app is loaded last for speed of initial view -->
  </head>

  <body>

    <!--
    CSS will cause this animated overlay to fade out when the application
    has been bootstrapped. TODO: replace this with a better/branded spinner
    -->
    <div class="initspin">
      <div id="initspinContainer">
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <div class="stick"></div>
        <h1>Loading...</h1>
      </div>
    </div>

    <!--
    This is the real body of the app.  It is initially hidden until it is
    bootstrapped.  ng-cloak allows it to be invisible until template code
    has been compiled by Angular.
    -->
    <div class="body ng-cloak" ng-cloak>

      <!--
      This is the main ui-view, corresponding to the _root state in the
      ui-router hierarchy.
      -->
      <ui-view/>

    </div>


</body>

<!--
delay the browser seeing this until it's already seen the body so that
it will render the spinner with minimal interference
-->


      <script>
        // window.myApp = {};
        // window.global = window.myApp;
        window.global = window;
      </script>

<!-- inject:bower-main:js -->
    <!--
    deps should be in order
    note not including test deps
    note not including build-time deps
    (everythinng should technically be dev deps so that's not relevant)
    TODO: how to resolve these from bower to cdnjs
      'lodash': 'bower_components/lodash/dist/lodash.compat',
      'angular': 'bower_components/angular/angular',
      'angular-mocks': 'bower_components/angular-mocks/angular-mocks',
      'ui-router': 'bower_components/angular-ui-router/release/angular-ui-router',
      'state-helper': 'bower_components/angular-ui-router.stateHelper/statehelper',
      'ui-bootstrap': 'bower_components/angular-bootstrap/ui-bootstrap-tpls',
      'spinner': 'bower_components/angular-spinner/angular-spinner',
      'spinjs': 'bower_components/spin.js/spin',
      'angular-dialogs': 'bower_components/angular-dialog-service/dialogs',
      'angular-sanitize': 'bower_components/angular-sanitize/angular-sanitize',
      'moment': 'bower_components/momentjs/moment',
      'ng-table': 'bower_components/ng-table/ng-table',
      'angular-marked': 'bower_components/angular-marked/angular-marked',
      'marked': 'bower_components/marked/lib/marked',
      'angular-translate': 'bower_components/angular-translate/angular-translate'
    -->
      <script src="deps/lodash/dist/lodash.compat.js"></script>
      <script src="deps/angular/angular.js"></script>
      <script src="deps/angular-ui-router/release/angular-ui-router.js"></script>
      <script src="deps/angular-ui-router.stateHelper/statehelper.js"></script>
      <script src="deps/angular-bootstrap/ui-bootstrap-tpls.js"></script>
      <script src="deps/spin.js/spin.js"></script>
      <script src="deps/momentjs/moment.js"></script>
      <script src="deps/marked/lib/marked.js"></script>
      <script src="deps/angular-marked/angular-marked.js"></script>

      <script>
        window._ = global._;
      </script>


<% if (unit) { %>
  <script src="deps/angular-mocks/angular-mocks.js"></script>
<% } %>

  <script src="init.js"></script>

<% _.forEach(mlComponents, function(component) { %>
  <script src="<%- component %>"></script>
<% }); %>

  <script src="app.js"></script>

<% _.forEach(appComponents, function(component) { %>
        <script src="<%- component %>"></script>
<% }); %>


<% if (!unit) { %>
      <script src="run.js"></script>
<% } %>

    <!--
    our app is either lots of files or one big honking file

    considerations:

      at least /init.js

      if unit include helper to read out compoenent deps from angluar's
      invoke queue

      either app.js + all of the components or samplestack.min.js

      if unit then leave out run.js
    -->
<!-- endinject -->

</html>
